≤≤ define "result" ≥≥
    ≤≤if and (eq .Visualizer  "list") (gt (len .Values) 0) ≥≥
    \subsubsection{≤≤ i18n_map .Label ≥≥}
    ≤≤ i18n "comment_notice" ≥≥
    \begin{itemize}
    ≤≤ range .Values ≥≥
    \item ≤≤ lesc .Value ≥≥
    ≤≤ end ≥≥
    \end{itemize}
    ≤≤else≥≥
    
    ≤≤if or (eq (len .Values)  0) (eq (countValues .Values) "0") ≥≥
    \paragraph{≤≤ i18n_map .Label ≥≥} ≤≤ i18n "unanswered" ≥≥
    ≤≤ else ≥≥
    ≤≤ if eq .Visualizer "horizontal_bars"≥≥
    \begin{tikzpicture}
\globalQuestion{
  ≤≤ i18n_map .Label ≥≥\\
  {\globalNumberStyle
  ≤≤i18n "answers"≥≥: ≤≤ countValues .Values ≥≥\\
  ≤≤i18n "abstinentions"≥≥: ≤≤ .NotApplicableCount ≥≥}
}
\singleHorizontalBars{≤≤shortAnswers .Values ≥≥}{≤≤ answers .Values ≥≥}
\end{tikzpicture}
    ≤≤ end ≥≥
      ≤≤ if or (eq .Visualizer "histogram") (eq .Visualizer "histogram_no_cmp") ≥≥
    \begin{tikzpicture}
\globalQuestion{
  ≤≤ i18n_map .Label ≥≥\\
  {\globalNumberStyle
  ≤≤i18n "answers"≥≥: ≤≤ countValues .Values ≥≥\\
  ≤≤i18n "abstinentions"≥≥: ≤≤ .NotApplicableCount ≥≥}
}
\singleHistogramPoleLeft{≤≤  lesc (i18n_map (index .Values 0).Label)  ≥≥}
\singleHistogramHist{≤≤ toPercentage .Values≥≥}
≤≤if eq .Visualizer "histogram" ≥≥
\singleHistogramErr{≤≤(add .Avg 1) ≥≥}{≤≤.Stddev≥≥}[≤≤(add .AvgQuestion 1)≥≥][≤≤.StddevQuestion≥≥] 
≤≤ end ≥≥
\singleHistogramPoleRight{≤≤ lesc (i18n_map (last .Values ).Label) ≥≥}
\end{tikzpicture}
    ≤≤ end ≥≥
    ≤≤ end ≥≥
    ≤≤ end ≥≥
≤≤ end ≥≥
≤≤ define "sections" ≥≥
≤≤ range . ≥≥
    \subsubsection*{≤≤ i18n_map .Label ≥≥}
    ≤≤ range .Results ≥≥
        ≤≤ template "result" .≥≥
    ≤≤ end ≥≥
 ≤≤ end ≥≥
 ≤≤ end ≥≥
 ≤≤define "tutor_overview"≥≥
 \begin{longtable}[l]{lrr}
    \hline
    ≤≤i18n "tutorium_overview"≥≥ \\
    \hline
    \endhead

  ≤≤ range . ≥≥
    \hyperref[≤≤.Id≥≥]{≤≤lesc .Name≥≥}
	& \pageref{≤≤.Id≥≥} \\
  ≤≤end≥≥
  \hline
  \end{longtable}
 ≤≤ end ≥≥