≤≤ define "term_report"≥≥
\documentclass[pagesize,halfparskip-,headsepline,cleardoubleempty,table]{scrbook}
\def\tightlist{} % for pandoc
  \title{Lehrevaluation}
  \subtitle{im ≤≤ lesc .Term.Name ≥≥}
  
  \author{≤≤ lesc .Faculty.Name ≥≥}
\newcommand{\facultylong}{≤≤ lesc .Faculty.Name≥≥}
\newcommand{\termlong}{≤≤ lesc .Term.Name ≥≥}
\newcommand{\termshort}{≤≤ lesc .Term.Name ≥≥}
≤≤ template "preamble" "ngerman,english"≥≥
\selectlanguage{≤≤i18n "tex_lang"≥≥}
\date{\today}
\begin{document}
\selectlanguage{≤≤i18n "tex_lang"≥≥}
\maketitle
≤≤ template "preface" ≥≥
%\setcounter{tocdepth}{3}
\tableofcontents
≤≤ range .Courses≥≥
≤≤ template "full_course" .≥≥
≤≤end≥≥
\end{document}

≤≤ end ≥≥